* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(0, 0, 0);
    font-family: monospace;
    padding: 20px;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
h1 {
    color: rgb(255, 81, 0);
    border-style: dashed;
    border-width: thin;
    position:fixed;
    top:0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 10px;
}
.content {
    color:rgb(255, 208, 0);
    border-style: dashed;
    border-width: thin;
    width: 100%;
    padding: 20px;
    position: fixed;
    left: 0;
    right: 0;
    top: 75px;
}
.sidebar {
    color:blueviolet;
    border-style: dashed;
    border-width: thin;
    padding: 20px;
    position: fixed;
    right: 20px;
    top: 250px;
}
.features {
    color:aqua;
    border-style: dashed;
    border-width: thin;
    text-align: center;
    border-width: thin;
    width: 100%;
    left: 0;
    right: 0;
    position: fixed;
    top: 475px;
}
footer {
    color:seashell;
    position: fixed;
    left: 0;
    bottom:0;
    width: 100%;
    text-align: center;
    border-style: dashed;
    border-width: thin;
}